In [1]:
import pandas as pd
import numpy as np

In [2]:
mylist = list('abcedfghjklmnopqrsttuvwxyz')
mylist

['a',
 'b',
 'c',
 'e',
 'd',
 'f',
 'g',
 'h',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [3]:
my_list = pd.Series(mylist)
my_list

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     j
9     k
10    l
11    m
12    n
13    o
14    p
15    q
16    r
17    s
18    t
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [4]:
myarr = np.arange(26)
myarr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [5]:
my_arr = pd.Series(myarr)
my_arr

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [6]:
mydict = dict(zip(mylist, myarr))
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'j': 8,
 'k': 9,
 'l': 10,
 'm': 11,
 'n': 12,
 'o': 13,
 'p': 14,
 'q': 15,
 'r': 16,
 's': 17,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [7]:
mydict = dict(zip(mylist, myarr))
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'j': 8,
 'k': 9,
 'l': 10,
 'm': 11,
 'n': 12,
 'o': 13,
 'p': 14,
 'q': 15,
 'r': 16,
 's': 17,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [8]:
my_dict = pd.Series(mydict)
my_dict

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
j     8
k     9
l    10
m    11
n    12
o    13
p    14
q    15
r    16
s    17
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32