In [1]:
import pandas as pd
import numpy as np

In [2]:
mylist = list('abcedfghjklmnopqrsttuvwxyz')
mylist
myarr = np.arange(26)
myarr
mydict = dict(zip(mylist, myarr))
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'j': 8,
 'k': 9,
 'l': 10,
 'm': 11,
 'n': 12,
 'o': 13,
 'p': 14,
 'q': 15,
 'r': 16,
 's': 17,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [3]:
ser = pd.Series(mydict)
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
j     8
k     9
l    10
m    11
n    12
o    13
p    14
q    15
r    16
s    17
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

In [4]:
data = pd.DataFrame(ser)
data

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
j   8
k   9
l  10
m  11
n  12
o  13
p  14
q  15
r  16
s  17
t  19
u  20
v  21
w  22
x  23
y  24
z  25