In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     5
1     8
2     9
3     5
4     1
5     3
6     3
7     2
8     8
9     9
10    2
11    8
12    5
13    7
14    8
15    2
16    5
17    2
18    1
19    8
20    8
21    2
22    8
23    9
24    5
25    1
26    8
27    6
28    5
29    6
30    2
31    2
32    2
33    8
34    4
dtype: int32


##### Giải thích:
1.np.random.randint(1, 10, 35)
- Sử dụng NumPy để tạo một biến ngẫu nhiên bao gồm 35 số nguyên .
- Các số nguyên này nằm trong khoảng từ 1 đến 9 (bao gồm 1, nhưng không bao gồm 10).

2.pd.Series(...)
- Chuyển đổi số nguyên từ bước trên thành Pandas Series
- Pandas Series là một dữ liệu cấu trúc giống như cột trong bảng, có chỉ số ( index) tự động tạo từ 0 đến 34.

In [3]:
reshaped_array = ser.values.reshape(7, 5)
df = pd.DataFrame(reshaped_array)
df

   0  1  2  3  4
0  5  8  9  5  1
1  3  3  2  8  9
2  2  8  5  7  8
3  2  5  2  1  8
4  8  2  8  9  5
5  1  8  6  5  6
6  2  2  2  8  4