In [1]:
import numpy as np
import pandas as pd

In [2]:
ser1 = pd.Series(range(5))
ser1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [3]:
ser2 = pd.Series(list('abcde'))
ser2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [4]:
sap_xep_doc = pd.concat([ser1, ser2], axis=1)
sap_xep_doc

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [5]:
sap_xep_ngang = pd.concat([ser1, ser2], axis=0, ignore_index=True)
sap_xep_ngang

0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object